<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Login</title>
</head>
<body>
    <h3>Spring Security<br>Re-Authentication Demo</h3>
    <hr>
    <form method="post" th:action="@{/login}">
        <div th:if="${showErrorMsg}" th:text="${errorMsg}"></div>
        <div th:if="${showLogoutedMsg}" th:text="${logoutedMsg}"></div>
        <p>
            <input type="text" id="username" name="username" placeholder="username" required autofocus>
        </p>
        <p>
            <input type="password" id="password" name="password" placeholder="passowrd" required>
        </p>
        <button class="btn" type="submit">login</button>
    </form>
</body>
</html>
